body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.navbar-brand{
	padding: 0;
	margin-right: 10px;
}
#footer{
	padding: 40px 0;
    color: #fff;
    text-align: center;
    background-color: #4fc08d;
}
/*导航栏底色*/
/*.navbar-inverse {
    background-color: #fff;
    border-color: #080808;
    }*/
    .carousel-inner>.item>img{
    	width: 100%;
    }
    .weixin{
    	box-sizing: border-box;
    	text-align: center;
    	width: 120px;
    	height: 120px;
    	margin: auto;
    	
    }
    .qq_tel{
    	box-sizing: border-box;
    	width: 120px;
    	height: 120px;
    	display: inline-block;
    }
    .ewm{
    	position: relative;
    }
